.SweepedDialog {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	h1 {
		margin: 0;
	}
	.subtext {
		color: gray;
	}

	& > div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.score {
		font-weight: bold;
	}
	.share-buttons {
		display: flex;
		gap: 0.25rem;
		margin-top: 0.25rem;
		& > * {
			cursor: pointer;
			transition: 100ms ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
