.Scoreboard {
  h1 {
    margin: 0;
  }
  .table {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .header {
      text-align: center;
      font-weight: bold;
    }
    tr > td:last-child {
      text-align: right;
    }
  }
}
