@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#root {
	width: 100vw;
	height: 100svh;
}

button {
	background-color: #e4c29e;
	border: 2px solid #b99e81;
	font-weight: bold;
	transition: 100ms ease-in-out;

	&:not(:disabled) {
		cursor: pointer;
		&:hover {
			background-color: #d4b18a;
		}
		&:active {
			background-color: #b99e81;
		}
	}

	&.circle-btn {
		width: 2rem;
		height: 2rem;
		border-radius: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 16px;
			height: 16px;
		}
	}

	@media (pointer: coarse), (pointer: none) {
		zoom: 1.5;
	}
}

.button-container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	button {
		width: 100%;
		min-width: 10rem;
		padding: 0.25rem;

		&:first-child {
			border-radius: 1rem 1rem 0 0;
		}
		&:last-child {
			border-radius: 0 0 1rem 1rem;
		}
		&:only-child {
			border-radius: 1rem;
		}
	}
}
